<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<body>
<header class="header" th:fragment="header">
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/dali-logo.png}" alt="DALI Logo" style="height: 60px;"/></a>
        </div>
        <nav class="nav">
            <a th:href="@{/shop}">Shop</a>
            <a th:href="@{/stores}">Stores</a>
        </nav>
        <div class="header-actions">
            <a th:href="@{/cart}" th:text="'Cart (' + ${cartItemCount} + ')'">Cart (0)</a>

            <!-- Not Authenticated -->
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>

            <!-- Authenticated -->
            <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Profile</a>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit"  class="logout-button-linkstyle" style="background:none; border:none; padding:0; font-family:inherit; font-size:inherit; cursor:pointer; color:#555; font-weight: 600; margin-left: 20px;">Logout</button>
            </form>
        </div>
    </div>
</header>
</body>
</html>